/* -- TYPO -- */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@200;400;900&display=swap');
/* GLOBAL */

/* -- HEADER -- */

header >.overflow-container {
    color: #3536AE;
    font-family: 'Passion One', sans-serif;
    font-size: 23px;
    font-weight: 900;
    font-size: 23px;
    white-space: nowrap; /* Prevent text from wrapping */
    animation: headerGoLeft var(--header-animation-duration) linear infinite;
}

header{
    background-color: #FB32A1;
    overflow: hidden; 
    
}

.logo_header{
    width: 100px; /* Set the width of the image */

}
.menu_logo_header{
    width: 40px; /* Set the width of the image */
}

.menu{
     display: flex; /* Use flexbox layout */
    justify-content: space-around; /* Center the image horizontally */
    align-items: center; 
}

@keyframes headerGoLeft {
    0% { transform: translateX(100%); }
    100% { transform: translateX(var(--hearer-end-percentage)); }
}


/* Animation variables */
:root {
    /* Header animation variable*/
    --hearer-end-percentage: -100%;
    --header-animation-duration: 5s;


}