

:root {
    --blue-background: #132FCE;


}



.banniere {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    height: auto; /* Pour conserver les proportions de l'image */
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.button-container button {
    margin: 10px;
    white-space: nowrap;
    background-color:     var(--blue-background);
    opacity: 80%;
  
    font-size: 3vh;


}