

:root {
    --blue-background: #132FCE;

    --blue-title: #0C1E8A;
}

.banniere {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    height: auto; /* Pour conserver les proportions de l'image */
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.button-container button {
    margin: 10px;
    white-space: nowrap;
    background-color:     var(--blue-background);
    opacity: 80%;
    font-size: 3vh;


}

.banniere >.title-baner-go-right {
    color: white;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 500;

    animation: titleBannerGoRight var(--title-banner-animation-duration-go-right) linear infinite;
}

@keyframes titleBannerGoRight {
    0% { transform: translateX(var(--title-banner-end-percentage)); }
    100% { transform: translateX(100%); }
}


/* Animation variables */
:root {
    --title-banner-end-percentage: -100%;
    --title-banner-animation-duration-go-right: 5s;
}

.after-movie {
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden;

}

.foreground-video {
    position: absolute;
    top: 7vh;

    left: 50%;
    transform: translateX(-50%);
    width: 65%;

    z-index: 1;
}

.content {
    left: -50px;
    font-size: 16vw;
    font-weight: 900;
    color: var(--blue-title);
    padding: 0px;
    margin: 0px;
    line-height: 0.8;
}
.content > .line {
    white-space: nowrap;
}

.affiche-part{
    width: 100%;
    position: relative;
    height: auto;
}
.affiche-part > img {
    display: block;
    height: auto;
    width: 100%;
}

.affiche-part > .affiche {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

@keyframes titleGoLeft {
    0% { transform:  translateX(100%) ;}
    100% {  transform: translateX(var(--title-after-end-percentage)) ;}
}


:root {
    --title-after-end-percentage: -100%;
    --title-after-animation-duration-go-left: 5s;
}


.title-container> .title-go-left {
    color: white;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 500;
    animation: titleGoLeft var(--title-after-animation-duration-go-left) linear infinite;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-container {
    overflow: hidden;
}