
<div class="upper-space"></div>
    <div class="rsn-text">
        RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX RÉSEAUX
    </div>
    <div class="logos-rsn">
        <a href="https://www.instagram.com/lesondees">            
            <img src="public/logos/instagram-blue.png" alt="Instagram" id="lesondees-instagram">
        </a>
        <a href="https://www.facebook.com/lesondees">
            <img src="public/logos/facebook-blue.png" alt="Facebook"  id="lesondees-facebook">
        </a>
        <a href="https://www.linkedin.com/company/les-ondées">
            <img src="public/logos/linkedin-blue.png" alt="Linkedin"  id="lesondees-linkedin">
        </a>
        <a href="https://www.tiktok.com/@les_ondees">
            <img src="public/logos/tiktok-blue.png" alt="Tiktok"  id="lesondees-tiktok">
        </a>
    </div>
    <img src="public/logos/logo_claim_typo_blanc.png" alt="Logs les ondées" class="logoOndees">
