<div class="overflow-container">
    SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI SAMEDI 25 MAI
</div>
<div class="menu">
    <img src="/public/logos/billet.png" alt="Logo billet" class="menu_logo_header">
    <img src="/public/logos/logo_claim_typo_blanc.png" alt="Logo les ondées" class="logo_header">
    <img src="/public/logos/menu.png" alt="Menu logo" class="menu_logo_header">
</div>